*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* overflow-y: hidden; */
}
:root{
    --white: hsl(0, 0%, 100%)
}
a{
    text-decoration: none;
    color: var(--red);
    font-size: 14px;
}
i{
    margin: 0 10px;
}
body{
    background-color: #141C2F;
    padding: 6rem 0;
    color: var(--white);
}
header{
    width: 45rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.devfinder{
    font-weight: 600;
}
.light_mode, .dark_mode{
    cursor: pointer;
}
.dark_mode{
    display: none;
}
nav{
    background-color: #1f2a48;
    padding: 10px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45rem;
    /* width: 50%; */
    margin: 0 auto;
    border-radius: 7px;
}
nav input{
    all: unset;
}
nav input::placeholder{
    color: white;
    opacity: 0.3;
}
nav button{
    background-color: #0079fe;
    padding: 10px 1rem;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-weight: 600;
}
nav button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px blue;
}
.error{
    color: red;
    margin: 7px auto;
    width: 45%;
    display: none;
}
main{
    margin: 2rem auto;
    padding: 3rem 1.5rem;
    background-color: #1f2a48;
    border-radius: 7px;
    width: 45rem;
    /* width: 50%; */
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.main_left{
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
}
main img, section img{
    width: 17%;
    border-radius: 50%;
    /* object-fit: cover; */
}
main h3{
    margin: 6px 0 1rem 0;
}
.bio{
    font-weight: 300;
    line-height: 1.5;
    margin-left: 1.7rem;
}
span{
    color: #0079fe;
}
#profile{
    background-color: rgba(36, 36, 49, 0.886);
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 80%;
    margin: 1rem;
    padding: 10px;
    border-radius: 8px;
}
#profile h5{
    font-weight: 100;
}
#profile h4{
    margin-top: 7px;
}
.socials{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;
}
.socials div{
    display: flex;
}
.modal-bg{
    background-color: #97c4f4c6;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-body{
    background-color: #1f2a48;
    width: 45%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    width: 50%;
}
.modal-body p{
    margin: 3rem auto;
}
.modal-bg i{
    position: fixed;
    top: 2%;
    right: 0%;
    font-size: 40px;
    cursor: pointer;
}
.ri-close-fill{
    background-color: #141C2F;
    border-radius: 50px;
    padding: 5px;
}
section{
    display: none;
    margin: 2rem auto;
    padding: 3rem 1.5rem;
    background-color: #1f2a48;
    border-radius: 7px;
    width: 80%;
    overflow: hidden;
}
.main-section{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.small-bio{
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    padding: 1.5rem 1rem 1rem;
}
section h3{
    padding: 10px 0;
}
@media screen and (max-width:768px) {
    header, nav, main{
        width: 90%;
    }
    section{
        display: block;
    }
    main{
        display: none;
    }
    section{
        width: 90%;
    }
    /* main{
        padding: 3rem 1rem;
        width: 37rem;
        display: block;
    }
    .main_left{
        gap: 2rem;
        display: block;
    }
    main img{
        width: 20%;
    }
    #profile{
        width: 80%;
    }
    .socials{
        grid-column-gap: 5px;
        grid-row-gap: 1rem;
    }
    i{
        margin: 0 4px;
    } */
}
/* @media screen and (max-width: 600px) {
    section{
        padding: 1.5rem 3rem;
    }
} */
@media screen and (max-width: 600px) {
    body{
        padding: 0 13px;
    }
    nav{
        width: 95%;
        /* margin: 0 1.5rem; */
    }
    section{
        width: 95%;
    }
    .devfinder, .light_mode, .dark_mode{
        font-size: 30px;
    }
    a{
        font-size: 20px;
    }
    i{
        margin: 0 1rem;
        font-size: 2rem;
    }
    nav button{
        padding: 1.5rem 2rem;
        font-size: 20px;
    }
    nav input::placeholder{
        font-size: 15px;
    }
    section img{
        width: 35%;
    }
    /* main{
        padding: 3rem 2rem;
    }
    .main_left h2{
        font-size: 30px;
    }
    .main_left h4{
        font-size: 22px;
    }
    .date{
        font-size: 27px;
    } */
    #profile{
        width: 95%;
        padding: 2rem;
    }
    #profile h4, #profile h5{
        font-size: 1.3rem;
    }
    .socials{
        grid-template-columns: 1fr;
    }
    .socials p{
        font-size: 1.5rem;
    }
    
}